@model AspnetCoreStarter.Pages.Apps.Categories.CategoryModel
@using AspnetCoreStarter.Pages.Shared.EditorTemplates;
@using AspnetCoreStarter.Common;
@* Edit Attribute Form Offcanvas *@
@{
  var InputPrefix = "NewEntry";
  var ParentIdViewDataDictionary = new
  {
    Select2Model = new Select2Model
   (
     "NewEntry.ParentId",
     Model.autoCompeleteHelper.Query("", "Category", "", "", new List<Guid> { Model.NewEntry.Id }),
     false,
     false,
     [],
     $"edit{InputPrefix}_ParentId"
   )
  };
  var ColorPickerModelDataDictionary = new
  {
    ColorPickerModel = new ColorPickerModel("NewEntry.Color", "editNewEntry_Color", "edit-new-entry-color-element", Model.NewEntry.Color)
  };
}
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="@("edit" + Model.EntityName + "Offcanvas")" aria-labelledby="editAttributeOffcanvasLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="editCategoryOffcanvasLabel">Edit @Model.EntityName</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body mx-0 flex-grow-0">
		<form method="post" asp-page-handler="EditOrUpdate" asp-route-id="" id="@("edit" + Model.EntityName + "Form")">

      <div class="form-floating form-floating-outline mb-5">
        <input class="form-control" id="@("edit" + InputPrefix + "_" + "CategoryURI")" name="@(InputPrefix + ".CategoryURI")" value="" />
        <label for="@(InputPrefix + "_" + "CategoryURI")">@InputPrefix  CategoryURI</label>
      </div>

			<div class="form-floating form-floating-outline mb-5">
				<input class="form-control" id="@("edit" + InputPrefix + "_" + "Slug")" name="@(InputPrefix + ".Slug")" value="" />
				<label for="@(InputPrefix + "_" + "Slug")">@InputPrefix  Slug</label>
			</div>

      <div class="form-floating form-floating-outline mb-5">
        @Html.EditorFor(x => x.NewEntry.ParentId,
               "Select2",
               "NewEntry.ParentId",
               ParentIdViewDataDictionary
               )
        <label for="editCategory_ParentId">Parent Category</label>
      </div>
      <div class="form-floating form-floating-outline mb-5">
         <p>Category Color</p>
         @*<div id="editCategory_Color"></div> *@
        @Html.EditorFor(x => x.NewEntry.Color, "ColorPicker", "NewEntry.Color", ColorPickerModelDataDictionary)
      </div>

      @* Edit Locals Form Offcanvas Partial*@
			<div id="localization-edit-context">
				@{await Html.RenderPartialAsync("_LocalsOffcanvasPartial", Model.GetLocalProperties);}
			</div>
			<div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary me-3">Submit</button>
          <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
