@model string
@using System.Text.Json;
@using AspnetCoreStarter.Pages.Shared.EditorTemplates
@{
  ColorPickerModel? ColorPickerModel = (ColorPickerModel?)ViewData["ColorPickerModel"];
  var ContainerId = ColorPickerModel.Prefix + "-" + ColorPickerModel.ElSelectorId;
  var InputId = ColorPickerModel.Prefix + ColorPickerModel.Id;
}
<div id="@ContainerId">
  <button class="pickr"></button>
</div>

<input type="hidden" id="@InputId" name="@ColorPickerModel.Name" value="@ColorPickerModel.DefaultColor" />
<script>
  // let $script = document.getElementById("template-editors-script-manager");
  // if (!$script) {
  //   $script = document.createElement('script');
  //   $script.setAttribute("id", "template-editors-script-manager");
  //   document.body.appendChild($script);
  //   $script.innerHTML = ""
  // }
  // let EditorsScriptManager = EditorsScriptManager || {};
  EditorsScriptManager.GenerateColorPickers = EditorsScriptManager.GenerateColorPickers || {};

  EditorsScriptManager.GenerateColorPickers["@(ColorPickerModel.Name)"] = function ($pickr, prefix) {
    // if ($("#" + prefix + "-@(ColorPickerModel.ElSelectorId)" + "-pickr")[0]) {
    let _containerId = prefix + "-@(ColorPickerModel.ElSelectorId)";
    let _inputId = prefix + "@ColorPickerModel.Id";
    $pickr.create({
      // el: "#" + prefix + "-@(ColorPickerModel.ElSelectorId)" + "-pickr",
      el: "#" + _containerId + " .pickr",
      theme: "@ColorPickerModel.Theme",
      // default: "rgba(40, 208, 148, 1)",
      default: document.getElementById(_inputId).value,
      swatches: @Html.Raw(JsonSerializer.Serialize(ColorPickerModel.Swatches)),
      components: @Html.Raw(JsonSerializer.Serialize(ColorPickerModel.Components))
          })
      // .setColor(document.getElementById('NewEntry_Color').value)
      .on('init', instance => {
        console.log('Event: "init"', instance);
      })
      .on('save', (color, instance) => {
        console.log('Event: "Save"', color.toHEXA(), instance);
        document.getElementById(_inputId).value = color.toHEXA();
      });
    // }
    // $pickr.setColor(document.getElementById('editNewEntry_Color').value, true);
  };
</script>
