@model string
@using System.Text.Json;
@using AspnetCoreStarter.Pages.Shared.EditorTemplates
@{
  ColorPickerModel? ColorPickerModel = (ColorPickerModel?)ViewData["ColorPickerModel"];
}
<div id="@ColorPickerModel.ElSelectorId"></div>
<input type="hidden" id="@ColorPickerModel.Id" name="@ColorPickerModel.Name" value="@ColorPickerModel.DefaultColor" />
<script>
  // let $script = document.getElementById("template-editors-script-manager");
  // if (!$script) {
  //   $script = document.createElement('script');
  //   $script.setAttribute("id", "template-editors-script-manager");
  //   document.body.appendChild($script);
  //   $script.innerHTML = ""
  // }
  if (!EditorsScriptManager.GenerateColorPickers) {
    EditorsScriptManager.GenerateColorPickers = {};
  }
  EditorsScriptManager.GenerateColorPickers["@(ColorPickerModel.Name)"] = function ($pickr) {
    $pickr.create({
      el: "#@ColorPickerModel.ElSelectorId",
      theme: "@ColorPickerModel.Theme",
      // default: "rgba(40, 208, 148, 1)",
      default: document.getElementById('@ColorPickerModel.Id').value,
      swatches: @Html.Raw(JsonSerializer.Serialize(ColorPickerModel.Swatches)),
      components: @Html.Raw(JsonSerializer.Serialize(ColorPickerModel.Components))
      })
      // .setColor(document.getElementById('NewEntry_Color').value)
      .on('init', instance => {
        console.log('Event: "init"', instance);
      })
      .on('save', instance => {
        console.log('Event: "Save"', instance);
        document.getElementById('editNewEntry_Color').value = instance.toHEXA();
      });

    // $pickr.setColor(document.getElementById('editNewEntry_Color').value, true);
  };
</script>
